
.card {
  border:none;
  box-shadow: $shadow;
  border-radius: 8px;

  /* the card icon is the small icon placed in the top right corner of the cards */
  .card-icon {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

}
